.App {
  padding: 10px;
}

/* workspace */

.workspace {
}

/* sidebar */

.sidebar {
}

.palette {
}

.console {
}

.commandline {
}

/* grammar */

/* term */

/* .let-domain,
.let-argument {
  vertical-align: top;
  display: inline-block;
  margin-left: 2em;
} */

.token {
  display: inline-block;
  margin: 0.1em 0.1em;
}

.hole {
  display: inline-block;
  margin: 0 0.1em;
  box-shadow: 0 0 0 1px red;
}

.token.label {
  color: blue;
}

/* punctuation */

.token.punctuation {
  font-weight: bold;
}

.token.punctuation.period {
}

.token.punctuation.colon {
}

.token.punctuation.left-paren {
}

.token.punctuation.right-paren {
}

.token.punctuation.pi {
}

.token.punctuation.lambda {
}

.token.punctuation.let {
}

.token.punctuation.in {
}

.token.punctuation.assignment {
}

.token.punctuation.question-mark {
  margin-top: 0;
  margin-bottom: 0;
  color: red;
}

.token.punctuation.space {
  width: 0.6em;
}
