.App {
  padding: 10px;
}

/* workspace */

.workspace {
}

/* sidebar */

.sidebar {
}

.palette {
}

.console {
}

.commandline {
}

/* grammar */

/* term */

.term {
  display: inline-block;
  vertical-align: top;
}

.term.uni {
}

.term.pi {
}

.term.lam {
}

.term.let {
  box-shadow: 0 0 0 1px black inset;
}

.let-arg {
  display: block;
}

.let-bod {
  display: block;
}

.term.app {
}

.term.var {
}

.term.hole {
  box-shadow: 0 0 0 1px red inset;
  color: red;
}

.label {
  display: inline-block;

  color: blue;
}

/* punctuation */

.punctuation {
  display: inline-block;
  margin: 0 0.2em;

  font-weight: bold;
}

.punctuation.period {
}

.punctuation.colon {
}

.punctuation.left-parenthesis {
}

.punctuation.right-parenthesis {
}

.punctuation.pi {
}

.punctuation.lambda {
}

.punctuation.let {
}

.punctuation.in {
}

.punctuation.assignment {
}

.punctuation.question-mark {
}
