body {
  /* background-color: black; */
  /* color: white; */
}

.App {
  padding: 10px;
}

/* workspace */

.workspace {
}

/* sidebar */

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 200px;

  box-shadow: 0 0 0 1px black inset;
}

.palette {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.palette-option {
  margin-bottom: 10px;
  padding: 5px 5px;
  box-shadow: 0 0 0 1px black inset;
}

.palette-option:hover {
  cursor: pointer;
}

.console {
}

.commandline {
}

/* grammar */

/* term */

.universe {
}

.universe.focussed {
  color: red;
}

/* .let-domain,
.let-argument {
  vertical-align: top;
  display: inline-block;
  margin-left: 2em;
} */

.token {
  display: inline-block;
  margin: 0.1em 0.1em;
}

.label {
  color: blue;
}

.label.binding {
  outline: none;
  border: none;
  font-size: 12pt;
  /* text-decoration: underline; */
  width: 1ch;
}

.hole {
  display: inline-block;
  margin: 0 0.1em;
  box-shadow: 0 0 0 1px gray;
  border-radius: 1em;
  cursor: pointer;
}

.hole.focussed {
  box-shadow: 0 0 0 1px red;
}
.hole.focussed > .token.punctuation.question-mark {
  color: red;
}

.token.label {
}

/* punctuation */

.token.punctuation {
  font-weight: bold;
}

.token.punctuation.period {
}

.token.punctuation.colon {
}

.token.punctuation.left-paren {
}

.token.punctuation.right-paren {
}

.token.punctuation.pi {
}
.token.punctuation.pi.focussed {
  color: red;
}

.token.punctuation.lambda {
}
.token.punctuation.lambda.focussed {
  color: red;
}

.token.punctuation.let {
}
.token.punctuation.let.focussed {
  color: red;
}

.token.punctuation.in {
}

.token.punctuation.assignment {
}

.token.punctuation.question-mark {
  margin-top: 0;
  margin-bottom: 0;
  color: gray;
}

.token.punctuation.space {
  width: 0.2em;
}
